@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Arvo|Righteous|Varela+Round');
body, html{
	max-height: 100%;
	min-height: 100%;
	height: 100%;
}
/*Header*/
	.name {
		font-size: 4.5em;
		color: #d9b3ff;
	}
	.jumbotron {
		background-color: #333333;
		padding-bottom: 3em;
		font-family: 'Righteous', cursive;
	}
	.nav-link {
		text-decoration: none;
		color: #d9b3ff;
		font-size: 1.5em;
	}
	.nav-link:hover {
		color: #ffb3b3;
		text-decoration: underline!important;
	}

/*Content*/
	.nav-tabs{
		border: none;
	}

	.nav-tabs .nav-link.active {
		background-color: transparent;
		color: #ff8080;
		border: none;
	}

	.nav-link:hover {
		border: none;
	}

/*Footer*/
	.footer {
		bottom: 0;
		width: 100%;
		text-align: center;
	}